<form id="hero-form">
  <h1>Write About Your Favorite Hero</h1>
  <div class="mb-3">
    <label class="hero-info form-label">Hero Name</label>
    <input class="bloginput form-control" type="text" id="heroName">
  </div>
  <div class="mb-3">
    <label class="hero-info form-label">Hero Story</label>
    <input class="bloginput form-control" type="text" id="heroStory">
  </div>

  <button class="blogsubmitbutton btn btn-dark" type="submit">Submit</button>
</form>

<script src="/js/create.js">

</script>