<form id="hero-form">
  <h1>Create new Hero</h1>
  <label>Hero Name</label>
  <input type="text" id="heroName">
  <label>Hero Story</label>
  <input type="text" id="heroStory">
  <button type="submit">Submit</button>
</form>

<script src="/js/create.js">

</script>