html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }

header{
    text-align: center;
}

h1 {
    color: rgb(86, 44, 124);
}

#mainpage{
    background-color: gray;
    margin: 30px;
}

#blog {
    margin: 20px;
}
.hero-info{
    font-size: 40px;
    color: rgb(86, 44, 124);
   
}
.bloginput{
   padding: 60px; 


}

.blogsubmitbutton{
 padding: 10px;
 border-radius: 5px;
 color: rgb(86, 44, 124);
 font-size: 30px;
}

.center{
    text-align: center;
    color: rgb(86, 44, 124);

}
#login-form {
    color:  rgb(86, 44, 124);
    font-size: 20px;
    }
#signup-form {
    color:  rgb(86, 44, 124);
    font-size: 20px;
}
button {
    font-size: 15px;
    color: rgb(86, 44, 124);
    background-color: gray;
   margin: 5px;
   border: solid rgb(86, 44, 124);
}  